@import "../shared/_variables.css";

.header, .header-login {
	display: flex;
	align-items: center;
	height: 93px;
}

.header-login {
	flex: 0 0 33%;
}

.header {
	width: 100%;
	position: relative;
	justify-content: space-between;
}

.header-logo {
	height: 44px;
	display: flex;
	flex: 0 0 27%;
	justify-content: flex-end;
	margin-left: 17px;
}

.header-btn {
	display: none;
	position: relative;
	width: 50px;
	background-color: var(--primary-button-background);
	height: 50px;
	box-shadow: var(--primary-box-shadow-button);
	border-radius: var(--button-border-radius);
	margin-right: 20px;
	cursor: pointer;
}

.header-btn__burger svg, .header-btn__close svg path {
	fill: var(--secondary-button-background);
}

.header-btn__burger, .header-btn__close {
	position: absolute;
}

.header-btn__burger {
	top: 9px;
	left: 9px;
}

.header-btn__close {
	top: 15px;
	left: 15px;
}

.header-btn__close svg {
	width: 20px;
	height: 20px;
}

.header-btn__burger svg {
	width: 32px;
	height: 32px;
}

.header-btn .header-btn__close,
.header-btn.open .header-btn__burger {
	opacity: 0;
	visibility: hidden;
	transform: scale(0);
	transition: all .4s ease-in-out;
}

.header-btn.open .header-btn__close,
.header-btn .header-btn__burger {
	opacity: 1;
	transition: all .4s ease-in-out;
	visibility: visible;
	transform: scale(1);
}

.button-sign-in, .button-sign-up {
	height: 45px;
	padding: 0 23px;
	display: flex;
	align-items: center;
	border-radius: var(--button-border-radius);
	margin-top: 6px;
	cursor: pointer;
}

.button-sign-in {
	background: var(--secondary-button-background);
	box-shadow: var(--secondary-box-shadow-button);
}

.button-sign-up {
	background: var(--primary-button-background);
	margin-left: 25px;
	color: var(--primary-text-color);
	box-shadow: var(--primary-box-shadow-button)
}

.button-sign-in .button__link {
	color: var(--primary-button-background);
	font-weight: bold;
}

.button-sign-in .button__icon {
	padding: 3px 8px 0 0;
}

.button-sign-up .button__link {
	color: var(--primary-text-color);
	font-weight: bold;
}

.button-sign-up .button__icon {
	padding: 3px 8px 0 0;
}

@media screen and (max-width: 1440px) {
	.header-login {
		flex: 0 0 25%;
	}

	.header-logo {
		flex: 0 0 25%;
		margin-left: 0;
	}
}

@media screen and (max-width: 1200px) {
	.header-login {
		flex: 0 0 28%;
	}

	.header-logo {
		flex: 0 0 28%;
	}
}

@media screen and (max-width: 1024px) {
	.header-login {
		flex: 0 0 25%;
	}

	.header-logo {
		flex: 0 0 25%;
	}

	.button-sign-in, .button-sign-up {
		padding: 0 15px;
	}

	.button-sign-up {
		margin-left: 15px;
	}

	.button-sign-in .button__title, .button-sign-up .button__title {
		font-size: 15px;
	}
}

@media screen and (max-width: 768px) {
	.header-login {
		display: none;
	}

	.header-logo {
		margin-left: 20px;
	}

	.header-btn {
		display: flex;
	}
}
